<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Product Listings</title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar-links"></div>

    <div class="container">
        <h1>Product listings</h1>
        <div class="text-center">

            <!-- Want rows with 3 columns -->
            <div th:each="r,i : ${#numbers.sequence(0, (products.size / 3) + 1)}" class="row">

                <!-- Check for index out of bound errors -->
                <div class="col" th:unless="((3 * ${i.index}) + ${j.index}) ge ${products.size}" th:each="c,j : ${#numbers.sequence(0, 2)}">

                    <!-- Generate the listing -->
                    <div th:replace="fragments/listing :: listing (${products[(3 * i.index) + j.index].title},${products[(3 * i.index) + j.index].description},${products[(3 * i.index) + j.index].price},~{},${products[(3 * i.index) + j.index].imageUrl})"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer-links"></div>
</body>
</html>