<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Listings</title>
    <head th:include="fragments/header :: header"></head>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar-links"></div>


    <div class="container d-flex">
        <div th:replace="fragments/sidebar"></div>
        <div class="d-flex flex-column w-75">
            <h1 class="text-center">Product listings</h1>
            <div class="text-center" id="initial-listings-grid"></div>
            <div class="text-center" id="sidebar-listings-grid"></div>
        </div>
        <div class="col-auto">
            <a href="/listings/add">
                <button class="btn btn-success mt-5">Add a listing</button>
            </a>
        </div>


    </div>

    <div th:replace="fragments/footer :: footer-links"></div>
    <script async type="text/javascript" th:src="@{/js/listings.js}"></script>
</body>
</html>
