<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
    <title>User List</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar-links"></nav>
<div class="container">
  <div>
    <h1>List of Users</h1>
  </div>
  <table>
    <thead>
      <th class="table-header">ID</th>
      <th class="table-header">Username</th>
      <th class="table-header">Password</th>
      <th class="table-header">Role</th>
      <th class="table-header">Enabled?</th>
    </thead>
    <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.username}">User username</td>
        <td th:text="${user.password}">User password</td>
        <td th:text="${user.role}">User role</td>
        <td th:text="${user.enabled}">User enabled</td>
      </tr>
    </tbody>
  </table>
</div>
<div th:replace="fragments/footer :: footer-links"></div>
</body>
</html>