<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
<div class="wrapper w-25">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <p>Choose a category</p>
      <li>
        <button class="btn btn-warning w-100 mt-2" id="all" onclick="handleSidebar(this.id)">All</button>
      </li>
      <li>
        <button class="btn btn-warning w-100 mt-2" id="food" onclick="handleSidebar(this.id)">Food</button>
      </li>
      <li>
        <button class="btn btn-warning w-100 mt-2" id="electronics" onclick="handleSidebar(this.id)">Electronics</button>
      </li>
      <li>
        <button class="btn btn-warning w-100 mt-2" id="furniture" onclick="handleSidebar(this.id)">Furniture</button>
      </li>
    </ul>
  </nav>

</div>
<script async type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</body>
</html>