<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <head th:replace="fragments/header :: header">
    <title>Hello World!</title>

  </head>
  <body>
  <nav th:replace="fragments/navbar :: navbar-links"></nav>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
    </form>
    <div th:replace="fragments/footer :: footer-links"></div>
  </body>
</html>