<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Registration Success</title>
  <div th:replace="fragments/footer :: footer-links"></div>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
        th:fragment="bootstrap-css"
  >
</head>
<body>
<div class="container text-center">
  <h3>You have signed up successfully!</h3>
  <h4><a th:href="@{/login}">Click here to Login</a></h4>
</div>

</body>
</html>